{% extends 'dash.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row p-1 d-flex justify-content-center">
        <url class="list-group col-md-8 p-2">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} p-1 mb-2">{{message}}</div>
                {% endfor %}
            {% endif %}
            <form action="/url/create/custom" method="POST">
                {% csrf_token %}
                <div class="row mb-2 justify-content-between p-2">
                    <input type="text" name="original" class="form-control border mt-1 form-control-sm col-md-3 rounded" placeholder="New URL" required>
                    <input type="text" class="form-control border mt-1 form-control-sm col-md-3 rounded" readonly value="http://agmir.link/">
                    <input type="text" maxlength="100" name="slug" class="form-control border mt-1 form-control-sm col-md-3 rounded" placeholder="Custome URL" required>
                </div>
                <button type="submit" class="btn btn-success btn-sm w-100 mb-2">Create</button>
            </form>
            {% for url in urls %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-12 col-md-10">
                  <p style="font-family: 'ABCDiatype';" class="mb-0"><strong style="font-size: large;" class="h6">{{url.hash}}</strong> <br>
                    {{url.original|truncatechars:50}}
                  </p>
                </div>
                <div class="col-12 col-md-2">
                  <button class="btn btn-primary btn-sm w-100" onclick="copyToClipboard('{{url.hash}}');">Copy</button>
                </div>
              </div>
            </li>
            {% empty %}
            <div class="card">
                <h5 class="text-center p-2">No URLs</h5>
            </div>
            {% endfor %}

            {% if urls.has_other_pages %}
                <ul class="pagination m-auto pt-2">
                    {% if urls.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ urls.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for i in urls.paginator.page_range %}
                        {% if urls.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if urls.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ urls.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            {% endif %}
            </url>
    </div>
</div>

<script>
    function copyToClipboard(text) {
        const el = document.createElement('textarea');
        el.value = text;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
        // alert('Copied to clipboard!');

        var alertDiv = document.createElement("div");
        alertDiv.classList.add("alert", "copy-alert", "alert-success");
        alertDiv.setAttribute("role", "alert");
        alertDiv.innerText = "Copied";
        document.body.appendChild(alertDiv);

        

        setTimeout(()=>{
            alertDiv.remove()
        }, 1000)
    }
</script>
{% endblock content %}