{% extends 'dash.html' %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div id="root" ></div>
  </div>
</div>
<script type="text/babel">
  function BarChart() {
    const chartRef = React.useRef(null);



    React.useEffect( async ()=> {
      await fetch('/chart/country').then(responst => responst.json())
      .then(result=>{
        console.log(result.data)
        result.data.map(item=>{
          const myChartRef = chartRef.current.getContext("2d");
            new Chart(myChartRef, {
              type: "bar",
              data: {
                labels: result.data.map(item=>item.country),
                datasets: [
                  {
                    label: "Sales",
                    data: result.data.map(item=>item.number),
                    backgroundColor: "rgba(54, 162, 235, 0.2)",
                    borderColor: "rgba(54, 162, 235, 1)",
                    borderWidth: 1,
                  },
                ],
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true,
                  },
                },
              },
            });
          
        })
      }).catch(error=>{
        console.log(error)
      })




    }, []);

    

    const  chart = ()=>{
      
    }

    return (
        <canvas width="100%" id="myChart" ref={chartRef} />
    );
  }

  ReactDOM.render(<BarChart />, document.getElementById('root'));




  </script>
{% endblock content %}