{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "components/hero.html" %}

<main id="main">

  <!-- ======= Link  ======= -->
  <footer id="footer">
    <div class="footer-newsletter" id='url'>
      <div class="container">
        <div class="row justify-content-center">
          
            
            <div id="root" class="row justify-content-center">

              
            </div>
            
          
        </div>
      </div>
    </div>
  </footer>

  <script type="text/babel">
    const App = () => {
      if(!localStorage.getItem('urls')){
        localStorage.setItem('urls', JSON.stringify({urls:[]}))
      }


      const [link, setLink] = React.useState('');
      const [list, setList] = React.useState(JSON.parse(localStorage.getItem('urls')).urls)
      const [spener, setSpener] = React.useState(false)

   


      const sendLink = async ()=>{
       if(link.length > 6){
        setSpener(true)
        await fetch('{% url "link" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({url: link})

        }).then(response => response.json()
        ).then(result => {

          setList([{newurl: result.message, oldurl: link, id: result.id, animation: true},...list])
          localStorage.setItem('urls', JSON.stringify({urls: [{newurl: result.message, oldurl: link, id: result.id},...list]}))
          setLink('')
          setSpener(false)


          
        }).catch(error=>{
          setSpener(false)
          console.log(error)
        })
       }

      }


      function copy(e) {
          const text = navigator.clipboard.writeText(e.target.getAttribute('data'));
            const element = e.target;
            element.className += " animate__animated animate__bounce"
            setTimeout(()=>{
              element.classList.remove("animate__animated animate__bounce")
            },1000)
      };
        return (
            <div class="col-lg-8">
                <h4>Shorten your link now!</h4>
                <p>Simplify your links and share more efficiently with our easy-to-use link shortener, <strong><a href="/accounts/login">Login for more features.</a></strong></p>
                <form>
                    <input type="text" name="url" value={link} onChange={(e)=>{setLink(e.target.value)}} placeholder="Shorten your link" />
                    <button type="button" onClick={sendLink}>{
                      spener ? <div class="spinner-border" role="status"></div>:
                      <span>Shorten</span>
                    }</button>
                </form>
                <ul class="list-group mt-2 p-2 list-short-links" id="list-links">
                     {list.length !== 0 ?
                      list.map(item =>{
                          return(
                            <li class={`list-group-item`} >
                                <div class="me-auto">
                                    <div class='mb-2'>{item.oldurl} <span class='badge bg-info text-white'>{item.animation ? "New" : ''}</span></div>
                                    <div data={item.newurl} onClick={copy} class="pointer fw-bold mb-2 bg-light rounded-pill p-1 px-3 text-center border">{item.newurl}</div>
                                </div>
                                <div class="mt-2">
                                    <button data={item.newurl} onClick={copy} class="btn btn-primary w-100 btn-sm rounded-pill">Copy</button>
                                </div>
                            </li>)
                      }):(<h3 class="text-center py-3">No URLs</h3>)}
                </ul>
            </div>
        );
    };
  
  ReactDOM.render(<App />, document.getElementById('root'));

  </script>
  <!-- End Link -->
  {% include "components/about.html" %}
  {% include 'components/services.html' %}
  <!-- End Cta Section -->
 
  {% include 'components/questions.html' %}
  {% include 'components/contact.html' %}
</main>


{% endblock content %}