    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About Us</h2>
          </div>
  
          <div class="row content">
            <div class="col-lg-6">
              <p>
                "Agmir Link is the perfect tool for anyone looking to simplify and shorten their URLs. Our user-friendly website allows you to easily enter long and cumbersome links and receive a shortened version that is easy to share and remember. With Agmir Link, you'll be able to share links on social media, in emails, and on websites without worrying about the length of the URL. Plus, our tracking features allow you to monitor how many clicks your links receive, giving you valuable insights into your online reach. Try Agmir Link today and start simplifying your links!"
              </p>
              {% comment %} <ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              </ul> {% endcomment %}
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                "Agmir" is a call-to-action phrase that you can use on your website to encourage visitors to use your link shortening service. The phrase implies that your service is quick and easy to use, and can help visitors to reduce the length of long URLs they want to share. By placing this phrase prominently on your website, you can encourage visitors to engage with your link shortening service and benefit from the convenience it provides.
              </p>
              {% comment %} <a href="#" class="btn-learn-more">Learn More</a> {% endcomment %}
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->