<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Subscribing to our newsletter is quick and easy. Simply fill out the form on our website with your email address.</p>
            <form action="" method="post">
              <input placeholder="Enter your email" type="email" name="email"><button type="submit" >Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Agmir</h3>
            <p>
              Fes, Morroco <br><br>
              <strong>Phone:</strong> +212 648382674<br>
              <strong>Email:</strong> contact@freewsad.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Here, you can easily connect with us on platforms such as Facebook, Twitter, Instagram, LinkedIn, and more.</p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/frwsd.ink" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://facebook.com/frwsd.ink" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://instagram.com/frwsd.ink" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://skype.com/frwsd.ink" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="https://linkedin.com/frwsd.ink" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Frwsd</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://freewsad.com/">Freewsad</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->