    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Services</h2>
            <p>"Encrypt URLs is an advanced online tool designed to help you secure your website links and protect your online privacy. With our platform, you can easily convert your regular website links into encrypted URLs, making them virtually impossible for anyone to intercept and decipher. Our encryption algorithm ensures that your links remain private and secure, giving you the peace of mind you need when browsing the web.</p>
          </div>
  
          <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">Shorten URLs</a></h4>
                <p>Shorten URLs is a fast and efficient way to convert long and unwieldy website links into short, easy-to-remember URLs. Our service is designed to help you share links on social media, in emails, and on websites without worrying about the length of the URL.</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">Encrypts URLs using RQ code</a></h4>
                <p>Encrypt URLs by RQ code is an advanced online tool designed to help you secure your website links using RQ code encryption. Our service is perfect for anyone looking to protect sensitive information and keep their online activities private and secure.</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="">Shortens URLs for brands</a></h4>
                <p>Shorten URLs for Your Brand is a powerful online tool designed to help you simplify and brand your website links. Our service enables you to shorten your website links and customize them with your own brand logo, colors, and other design elements, making them easy to remember and perfect for sharing on social media, in emails, and on websites. </p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-layer"></i></div>
                <h4><a href="">URLs Security request</a></h4>
                <p>In the digital world, URLs are the lifeblood of online communication. But long and unwieldy URLs can be a hassle to share and remember. That's where our service comes in. Our platform simplifies and shortens URLs.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- End Services Section -->